:root {
    --clr-bg-body: hsl(185, 41%, 84%);
    --clr-primary: hsl(0, 0%, 100%);
    --clr-secondary-1: hsl(183, 100%, 15%);
    --clr-secondary-2: hsl(186, 14%, 43%);
    --clr-accent: hsl(172, 67%, 45%);
    --clr-Grayish-cyan: hsl(184, 14%, 56%);
    --clr-Very-light-grayish-cyan: hsl(189, 41%, 97%);
}