:root {
    --clr-bg-body: hsl(185, 41%, 84%);
    --clr-primary: hsl(0, 0%, 100%);
    --clr-secondary-1: hsl(183, 100%, 15%);
    --clr-secondary-2: hwb(186 37% 51%);
    --clr-secondary-3: hsl(184, 14%, 56%);
    --clr-inputField: hsl(189, 41%, 97%);
    --clr-accent: hsl(172, 67%, 45%);
    --clr-comp-hover: hsl(173, 61%, 77%);

    --ff-main: 'Space Mono', monospace;
}